@font-face {
    font-family: Gothic;
    src: url("19317.ttf");
}
@font-face {
    font-family: Poiret One;
    src: url("PoiretOne-Regular.ttf");
}
p{
    font-family: Poiret One;
    font-weight:900;
    color: rgb(86, 86, 86);
}

.box1{
    position: absolute;
    height: 260px;
    width: 260px;

    border-radius: 100%;
    margin-left: 818px;
    margin-top: -100px;
    z-index: 3;
    background-color: lightgray;
    overflow: hidden;
    border: 1px solid black;
}
.circle{
    position: absolute;
    margin-left: 499px;
    margin-top: -419px;
    animation: b 60s infinite linear;
    scale: 0.343;
}
.wings{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
    z-index: 6;
    overflow: visible;
}
.strings1{
    position: absolute;
    letter-spacing: 5px ;
}
.strings2{
    position: absolute;
    letter-spacing: 5px ;
    /* z-index: -6; */
    margin-top: -25px;
    opacity: 0.3;

}

.str5, .str10, .str18{
    font-size: 40px;
    line-height: 0px;
}
.str4, .str6, .str11, .str17{
    font-size: 35px;
    line-height: 1px;
}
.str3, .str7, .str12, .str16{
    font-size: 30px;
    line-height: 1px;
}
.str2, .str8, .str13, .str15{
    line-height: 1px;
    font-size: 25px;
}
.str1, .str9, .str14{
    line-height: 1px;
    font-size: 20px;
}
.str1{animation: a 21s infinite linear;}
.str2{animation: a 12s infinite linear reverse;}
.str3{animation: a 16s infinite linear;}
.str4{animation: a 13s infinite linear reverse;}
.str5{animation: a 29s infinite linear;}
.str6{animation: a 25s infinite linear reverse;}
.str7{animation: a 19s infinite linear;}
.str8{animation: a 14s infinite linear reverse;}
.str9{animation: a 27s infinite linear;}


.str10{animation: a 28s infinite linear reverse;}
.str11{animation: a 14s infinite linear;}
.str12{animation: a 19s infinite linear reverse;}
.str13{animation: a 30s infinite linear;}
.str14{animation: a 21s infinite linear reverse;}
.str15{animation: a 13s infinite linear;}
.str16{animation: a 15s infinite linear  reverse;}
.str17{animation: a 12s infinite linear ;}
.str18{animation: a 22s infinite linear  reverse;}


.c{
    position: absolute;
    margin-top: 35px;
    margin-left: 40px;
    z-index: 3;
    overflow: hidden;
}
.o{
    position: absolute;
    margin-left: 249.2px;
    margin-top: 35px;
    z-index: 3;
    overflow: hidden;
}
.d1{
    position: absolute;
    margin-left: 459.4px;
    margin-top: 35px;
    z-index: 3;
    overflow: hidden;
}
.d2{
    position: absolute;
    margin-left: 669.8px;
    margin-top: 35px;
    z-index: 3;
    overflow: hidden;
}
.y{
    /* position: absolute; */
    margin-left: 870px;
    margin-top: 40px;
    z-index: 3;
    overflow: hidden;
    
}
body{
    z-index: -4;
    background: wheat url("Backgroung.png"); 
}
@keyframes a{
    from{transform: translateX(-1000px);}
}
@keyframes b{
    from{transform: rotateZ(360deg);}
}
.back{
    width: 2000px;
    height: 2000px;
    background-color: wheat;
}
.logo{
    position: absolute;
    margin-left: 395px;
    margin-top: -50px;
    scale: 0.9;

    z-index: -3;
}
.c, .o, .d1, .d2, .y{
    overflow: hidden;
    z-index: 3;
    scale: 0.85;
}
.all{
    scale: 0.95;
    margin-top: -70px;
}
.cnt{
    position: absolute;
    margin-top: -660px;
    margin-left: -12px;
    border: 2px dashed black;
    border-radius: 100%;

    z-index: -6;

    scale: 0.85;
}